body {
   margin: 0;
   padding: 0;
   background-color: lightblue;
   font-family: 'Arial';
}

ul {
    margin-top: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    padding: 0;
}


li a {
    float: right;
    display: inline-block;
    padding: 21px 20px;
    color: white;
    text-align: center;
    font-size: 18px;
}

#name {
    color: white;
    display: block;
    float: left;
    padding: 14px 16px;
    font-size: 30px;
}

img {
    max-height: 100%;
    max-width: 100%;
}

h1 {
    margin: auto;
    margin-bottom: 35px;
    margin-top: 40px;
    width: 325px;
    border: 2px solid black;
    padding: 5px;
    padding-bottom: 13px;
    text-align: center;
    text-decoration: underline;
    background-color: lightgrey;
    font-size: 35px;
}

h2 {
    margin: auto;
    margin-bottom: 13px;
    width: 99%;
    border: 2px solid black;
    text-align: center;
    text-decoration: underline;
    background-color: lightgrey;
    padding: 2px;
    padding-bottom: 4px;
}
.main {
    text-align: center;
    min-height: 600px;
}

footer {
    border: 2px solid grey;
    padding: 1px 15px;
    color: white;
    background-color: black;
}

#credit {
    text-align: left;
}
