html, body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    font-family: 'Arial';
    height: 100%;
}

content {
    min-height: 100%;
    height: auto;
}

a {
    color: white;
}

.header-links-list {
    margin-top: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    padding: 0;
    color: white;
}

.header-link {
    float: right;
    display: inline-block;
    padding: 21px 20px;
    color: white;
    text-align: center;
    font-size: 18px;
    color: white;
}

#name {
    color: white;
    display: block;
    float: left;
    padding: 14px 16px;
    font-size: 30px;
}

#name,, a {
    text-decoration: none;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.title {
    margin: auto;
    margin-bottom: 35px;
    margin-top: 40px;
    width: 325px;
    border: 2px solid black;
    padding: 5px;
    padding-bottom: 13px;
    text-align: center;
    text-decoration: underline;
    background-color: lightgrey;
    font-size: 35px;
}

h2 {
    margin: auto;
    margin-bottom: 13px;
    width: 99%;
    border: 2px solid black;
    text-align: center;
    text-decoration: underline;
    background-color: lightgrey;
    padding: 2px;
    padding-bottom: 4px;
}

#sections {
    text-align: center;
    background-color: lightgrey;
    border: 2px solid black;
    width: 25%;
    margin: auto;
    margin-bottom: 5px;
    font-size: 25px;
}

#sectionNav {
    margin: auto;
    width: 95%;
    display: table;
}

#sectionNav p {
    margin: 15px;
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    background-color: lightgrey;
    display: table-cell;
    position: static;
}

#sectionNav a {
    text-decoration: none;
    color: black;
}

.sectionTitle {
    font-size: 30px;
    margin: auto;
    margin-top: 50px;
    width: 95%;
}

.gallery {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    padding: 10px;
}

.main {
    text-align: center;
    overflow: auto;
    margin-bottom: 20px;
    margin-bottom:  -bottom: 100px;
    height: auto;
    min-height: 100%;
}

form {
    margin: auto;
    margin-top: 100px;
}

table {
    margin: auto;
}

#submit {
    margin-left: 125px;
}

.text {
    margin: auto;
    padding: 10px;
    width: 75%;
    border: 2px solid black;
    background-color: lightgray;
    margin-bottom: 300px;
}

.text_paragraph {
    margin-bottom: 5px;
}

.gallery {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    padding: 10px;
}

footer {
    padding: 1px 15px;
    color: white;
    background-color: black;
    position: static;
    bottom:0;
}

#credit {
    text-align: left;
    vertical-align: middle;
    line-height: normal;
}
